@use 'globals';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	margin: 0;
	font-family: 'Source Sans 3', sans-serif;
	background-color: var(--body-background-color);
	color: var(--body-text-color);
}

* {
	box-sizing: border-box;
}

a {
	color: var(--body-text-color);
	text-decoration: underline;
}

img {
	max-width: 100%;
}

img.emoji {
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	width: 1em;
	object-fit: contain;
}

img.avatar {
	background-color: #777;
	object-fit: cover;
}

.view-wrapper--has-sidebar {
	@media screen and (min-width: globals.$responsive-breakpoint-l) {
		margin-left: var(--sidebar-width);
	}
}

@mixin background-element($left: 0, $width: 100%) {
	position: absolute;
	left: $left;
	width: $width;

	@media screen and (min-width: globals.$responsive-breakpoint-l) {
		.view-wrapper--has-sidebar & {
			left: calc(var(--sidebar-width) + $left);
			width: calc($width - var(--sidebar-width));
		}
	}
}

.faded-background-header-img {
	@include background-element();
	top: 0;

	height: auto;
	z-index: -10;
	aspect-ratio: 3 / 1;
	object-fit: cover;
	mask-image: linear-gradient(rgba(0, 0, 0, 0.75), transparent);
}

.card {
	background: var(--card-background-color);
	color: var(--card-text-color);
	border-radius: 3px;

	a {
		color: var(--card-text-color);
	}
}

.page-content-container {
	width: 100%;
	overflow: hidden;
	margin: 1rem auto;
	padding: 0 8px;
}

.page-content-container--m {
	max-width: var(--medium-page-width);
}

.btn {
	display: inline-block;
	background-color: transparent;
	color: #FFF;
	border: 2px solid #FFF;
	padding: 0.25rem 0.5rem;
	margin: 2px;
	text-decoration: none;
	opacity: 1;
	cursor: pointer;
	transition: background-color 0.2s, border-color 0.2s;

	&:hover {
		background-color: #FFF;
		color: #000;
		border: 2px solid #FFF;
	}

	&--primary {
		border-color: var(--accent-color);
		background-color: var(--accent-color);
		color: var(--accent-text-color);
	}

	&--arrow::after {
		content: '❯';
	}
}

input[type="text"],
input[type="password"],
textarea {
	display: inline-block;
	background-color: #777;
	border: none;
	padding: 4px;
	margin: 2px;
	transition: background-color 0.1s, border-color 0.2s;

	&:focus {
		background-color: #FFF;
		color: #000;
		outline: none;
	}
}

.simple-form {
	.simple-form__input {
		margin-bottom: 1rem;

		label {
			display: block;
			font-size: 0.9rem;
		}

		input, textarea, button {
			width: calc(100% - 4px);
		}

		span[role="alert"] {
			font-size: 0.9rem;
			color: red;
		}
	}

	.simple-form__actions {
		margin-top: 1rem;
		display: flex;
		justify-content: center;

		.btn {
			flex: 1 1 auto;
		}
	}
}